{{ define "main" }}
  <article>
    {{ partial "modules/work/work-detail-hero.html" . }}
    {{ partial "modules/default/image-full-width.html" . }}
    {{ partial "modules/work/work-detail-intro.html" . }}
    {{ partial "modules/default/image-12-col.html" . }}
    {{ partial "modules/default/section-default.html" . }}
    {{ partial "modules/default/image-12-col-three.html" . }}
    {{ partial "modules/default/section-default.html" . }}
    {{ partial "modules/default/image-12-col-multiple.html" . }}
  </article>
{{ end }}