// colors
$black: #000;
$white: #FFF;

$bbox-black: #172124;

// grid
$grid-gap: 32px;

// container
$container-max-width: 1530px;
$outer-margin-desktop: 60px;
$outer-margin-mobile: 30px;
// $containerWidth: percentage(1530 / 1650);
