.footer {
  background-color: $bbox-black;
  color: $white;

  &-container {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 116px;
  }

  &-left {

  }

  &-title {
    @include h4;
  }

  @include breakpoint('md') {
    &-container {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
}