<section id="contact-form" class="contact-form-12-col home">
  <div class="container">
    <div class="contact-form-12-col-grid">
      <div class="contact-form-12-col-grid-col-1">
        <h3 class="contact-form-12-col-title">Let's work together</h3>
      </div>
      <div class="contact-form-12-col-grid-col-2">
        <form action="#">
          <input type="text" class="input-text inverse" name="contact-name" onchange="onChange(this)" placeholder="Name" required>
          <input type="email" class="input-text inverse"  name="contact-email" onchange="onChange(this)" placeholder="Email" required>
          <input type="text" class="input-text inverse"  name="contact-company" onchange="onChange(this)" placeholder="Company">
          <div class="label-wrap-flex">
            <label for="message" class="label inverse">Message</label>
            <div class="label-character-count inverse">0/100</div>
          </div>
          <textarea class="text-area inverse" name="contact-message" id="contact-message" onchange="onChange(this)" maxlength="100" cols="10" rows="10" placeholder="Placeholder text" required></textarea>
        </form>
      </div>
    </div>
  </div>
</section>