<footer class="footer">
  <div class="container">
    <div class="footer-grid">
        <div class="footer-grid-col-1">
          <a rel="canonical" href="{{ .Site.BaseURL }}" class="footer-icon">

          </a>

          <a rel="canonical" href="{{ .Site.BaseURL }}" class="footer-icon">

          </a>
          <h3 class="footer-title">Good Work for Good Causes</h3>
          <div class="footer-tagline">Humanistic digital experiences for mission driven initiatives.</div>
        </div>
        <div class="footer-grid-col-2">
         <a rel="canonical" href="{{ .Site.BaseURL }}" class="footer-icon">

          </a>
          <a rel="canonical" href="{{ .Site.BaseURL }}" class="footer-icon">

          </a>
          <a rel="canonical" href="{{ .Site.BaseURL }}" class="footer-icon">

          </a>
        </div>
    </div>
    <div class="footer-grid">
        <div class="footer-grid-col-1">
          <div class="footer-copyright">&copy; 2021 Blenderbox. All rights reserved. Privacy Policy</div>
        </div>
        <div class="footer-grid-col-2">
          <div class="footer-registered">
              <a rel="canonical" href="{{ .Site.BaseURL }}" class="footer-logo">
                {{ readFile "static/svg/logo.svg" | safeHTML }}
              </a>
              &nbsp; is a registered WBE in the City and State of New York
          </div>
        </div>
    </div>
  </div>
</footer>