{{ define "main"}}
  <section>
    <div class="container text-content">
        <h2>{{.Title}}</h2>
        {{ .Content }}
    </div>
  </section>

  <section>
    <div class="container text-content">
      <h1>H1 96/100</h1>
      <h2>H2 54/60</h2>
      <h3>H3 36/42</h3>
      <h4>H4 ???</h4>
      <h5>H5 18/32</h5>
      <p class="body-lg">Large 24/34</p>
      <p>Regular 18/30</p>
      <p class="body-sm">Small 14/24</p>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="grid">
        <div class="card text-content">
          <h3>Section Title</h3>
        </div>
        <div class="card text-content">
          <h4>Card 2</h4>
        </div>
      </div>
    </div>
  </section>
{{ end }}