.footer {
  padding: 40px 0;
  background-color: $primary-base-1-10;
  color: $white;

  &-grid {
    @include grid;

    &-col-1,
    &-col-2 {
      text-align: center;
    }

    &.top {
      .footer-grid-col-2 {
        margin-bottom: 24px;
      }
    }

    &.bottom {
      .footer-grid-col-2 {
        grid-row: 1;
      }
    }

    @include breakpoint('md') {
      @include grid(12);

      &-col-1 {
        grid-column: 1 / span 5;
        text-align: left;
      }

      &-col-2 {
        grid-column: 7 / span 6;
        text-align: right;
      }

      &.top {
      .footer-grid-col-2 {
        margin-bottom: 0;
      }
    }
    }
  }

  &-title {
    @include heading-4;
    margin-bottom: 8px;
  }

  &-tagline {
    font-size: 16px;
    line-height: 22px;

    @include breakpoint('md') {
      margin-bottom: 64px;
    }
  }

  &-copyright {
    width: 100%;
    @include caption;
    color: $nav-link-hover;
    text-align: center;

    @include breakpoint('md') {
      text-align: left;
    }
  }

  &-registered {
    display: flex;
    width: 100%;
    justify-content: center;
    @include caption;
    color: $nav-link-hover;

    @include breakpoint('md') {
      justify-content: flex-end;
    }
  }

  &-logo-made-in-ny {
    display: inline-block;
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-logo-blenderbox-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 16px;
    margin-bottom: 24px;

    svg {
      width: 100%;
      height: auto;

      g#icon {
        fill: $white;
      }

      path {
        fill: $black;
      }
    }
  }

  &-logo {
    display: inline-block;
    width: 78px;
    
    svg {
      width: 100%;
      height: auto;

      path,
      polygon,
      rect {
        fill: $white;
      }
    }
  }

  &-logo-seperator {
    display: inline-block;
    width: 1px;
    height: 42px;
    margin: 0 4px;
    background-color: $white;
  }

  &-logo-nyc-small-business-services {
    display: inline-block;
    width: 77px;
s
    svg {
      width: 100%;
      height: auto;
      max-height: 42px;
    }
  }

  &-logo-ny-state-of-opportunity-white {
    display: inline-block;
    width: 107px;

    svg {
      width: 100%;
      height: auto;
      max-height: 42px;
    }
  }

  &-logo-ny-cwobe {
    display: inline-block;
    width: 117px;
    
    img {
      width: 100%;
      height: auto;
      max-height: 42px;
    }
  }
}

