.header {
  margin-bottom: -78px;
  z-index: 3;

  &-container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
  }

  &-left {
    display: flex;
    align-items: center;
  }

  &-logo {
    position: relative;
    display: block;
    width: 132px;
    z-index: 3;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &-menu {
    width: 54px;
    height: 54px;
    margin-right: 12px;
    background-color: $black;
    border-radius: 50%;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger-wrap {
    display: flex;
    width: 54px;
    height: 54px;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    background-color: $black;
    border-radius: 50%;
    z-index: 2;
  }

  .hamburger-box {
    width: 24px;
    height: unset;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 24px;
    height: 2px;
    border-radius: 0;
  }

  .hamburger-inner::before {
    top: -6px;
  }

  .hamburger-inner::after {
    bottom: -6px;
  }

  &-nav-link {
    @include nav-link;
  }

  // inverse
  &-inverse {
    background-color: transparent;

    .header-logo {
      svg {
        path,
        polygon,
        rect {
          fill: $white;
        }
      }
    }

    .header-menu {
      background-color: $white;
    }

    .hamburger-wrap {
      background-color: $white;
    }

    .header-nav-link {
      color: $white;
    }
  }
}

@keyframes scaling {
  From {
      transform: scale(200);
  }
  To {
      transform: scale(1);
  }
}

#navigation {

  &::before {
    content: '';
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: $black;
    border-radius: 50%;
    top: 12px;
    left: 30px;
    transform: translateZ(0);
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    z-index: -1;

    @include breakpoint('md') {
      left: 60px;
    }

    @include breakpoint('xl') {
      left: calc((100vw - 1410px) / 2);
    }
  }

  .nav-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: -200vh;
    transition-delay: 0.5s;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
  }

  &.active {
    &::before {
      width: 400vw;
      height: 400vw;
      z-index: 2;
    }

    .nav-main {
      visibility: visible;
      z-index: 2;
      opacity: 1;
      top: 0;
    }
  }
}