<section class="updates-12-col">
  <div class="container">
    <div class="updates-12-col-grid">
      <div class="updates-12-col-grid-col-1">
        <h2 class="updates-12-col-title">Updates</h2>
      </div>
      <div class="updates-12-col-grid-col-2">
        <!-- item 1 -->
        <div class="updates-12-col-item">
          <div class="updates-12-col-item-category">Launch</div>
          <h3 class="updates-12-col-item-title">
            <a rel="canonical" href="#">Workforce Data Portal— the first system-wide initiative tracking workforce services across NYC.</a>
          </h3>
          <div class="updates-12-col-item-date">September 15, 2021</div>
        </div>
        <!-- item 2 -->
        <div class="updates-12-col-item">
          <div class="updates-12-col-item-category">Launch</div>
          <h3 class="updates-12-col-item-title">
            <a rel="canonical" href="#">Workforce Data Portal— the first system-wide initiative tracking workforce services across NYC.</a>
          </h3>
          <div class="updates-12-col-item-date">September 15, 2021</div>
        </div>
        <!-- item 3 -->
        <div class="updates-12-col-item">
          <div class="updates-12-col-item-category">Launch</div>
          <h3 class="updates-12-col-item-title">
            <a rel="canonical" href="#">Workforce Data Portal— the first system-wide initiative tracking workforce services across NYC.</a>
          </h3>
          <div class="updates-12-col-item-date">September 15, 2021</div>
        </div>
      </div>
    </div>
  </div>
</section>